body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f5f7fa;
    color: #333
}

header,footer{
    background: #2a6df4;
    color: white;
    padding: 15px;
}

main{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    padding: 20px;
}

section,text{
    background: white;
    padding: 15px;
    border-radius: 6px;
    border: 1px solid #d0d7e2;
}

